/* RESET MEYERWEB */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CÓDIGO WEB */

/* Configuración de textos */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;

    margin-bottom: 23px;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;

    margin-top: 34px;
    margin-bottom: 34px;
}

li {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
}

input {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Elementos generales */

.boton {
    display: inline-block;

    border-radius: 50px;
    background-color: blueviolet;

    margin: 5px 5px 5px 5px;
    padding: 10px 50px 10px 50px;

    color: white;
    text-decoration: none;

    border-style: none;
}

a {
    text-decoration: none;
}


/* Secciones */ 

.fondoMorado {
    background-color: #551580;
    color: white;
}

.fondoVioleta {
    background-color: #FDF2FF;
}

section {
    padding-left: 136px;
    padding-right: 136px;

    padding-top: 64px;
    padding-bottom: 64px;
}

header {
    padding-left: 136px;
    padding-right: 136px;

    background: linear-gradient(to top right, #C56CD6, #3626AF);
}

/* Cosa por cosa */

nav {
    padding-top: 21px;
    padding-bottom: 21px;

    display: flex;
    align-items: center;

    flex-direction: row;
    justify-content: space-between;
}

nav h5 {
    float: left;
}

nav .botonesNavegacion {
    float: right;

    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 526px;
    height: 24px;

    margin-right: 50px;
}

nav #contactUs {
    background-color: unset;

    border: solid 1px #7D6CCA;
}

.contenidoPortada {
    height: 300px;
    width: 570px;

    align-content: center;

    margin-top: 152px;
    margin-bottom: 192px;
}

/*Parte Miguel*/

/*Asperoides*/

.seccionEstandar {

    width: auto;
    height: 768px;

}

.seccionEstandar h3{
    margin-left: 835px;
    margin-top: 189px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;

    color: #333333;
}
